[submodule "external/vim/vim-flake8"]
	path = external/vim/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "external/zsh/oh-my-zsh"]
	path = external/zsh/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "external/vim/vim-airline"]
	path = external/vim/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "external/vim/YouCompleteMe"]
	path = external/vim/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "external/vim/dein.vim"]
	path = external/vim/dein.vim
	url = https://github.com/Shougo/dein.vim
